body {
    overflow-y: scroll;
}

.v-space {
    margin: 20px 0;
}

.hidden {
    position: absolute !important;
    display: none;
    width: 100%;
    z-index: 3;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.opaque {
    box-shadow: 0 0 transparent;
    background: rgba(255, 255, 255, 0.5);
}

.modal-footer a {
    margin-left: 5px !important;
}

.modal.bottom-sheet.tall {
    max-height: 100%;
}

.toast-message {
    background-color: #00897b;
}

.toast-warning {
    background-color: #ff7d3f;
}

.toast-error {
    background-color: #e53935;
}

#loading-overlay { position: fixed; display: none; top: 0; left: 0; right: 0; bottom: 0; background-color: #000; opacity: 0.7; z-index: 1000}
#loading-message { position: absolute; width: 400px; height: 100px; line-height: 100px; background-color: transparent; text-align: center; color: #fff; font-family: 'Patua One', cursive; text-shadow: 1px 1px #000; font-size: 3em; left: 50%; top: 50%; margin-left: -200px; margin-top: -50px; }

ul#addresses, ul#masters {
    margin-top: 50px;
}

.address-chip {
    height: auto;
}

.full {
    width: 100%;
}

.row.borderless {
    margin-bottom: 0;
}

.col.borderless {
    margin-top: 0;
}

.bottom-left {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#sidenav-overlay {
    z-index: 9;
}

.search-bar {
    z-index: 1000;
}

.search-bar #search::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .7);
}

.search {
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.datepicker {
    width: 150px;
    position: absolute;
    right: 10px;
    display: inline;
}

.datepicker input {
    width: 50px;
    text-align: center;
}