.button-collapse {
    display: block !important;
}

.btn, .btn-garge, .btn-flat {
    padding: 0 1rem;
}

.brand-logo {
    font-family: 'Fontdiner Swanky', cursive;
}

.card-title {
    font-family: 'Patua One', cursive;
    margin-bottom: 20px !important;
    word-wrap: break-word;
    font-size: 25px;
}

.card-title.no-border {
    border-bottom: 0;
}

.modal-overlay {
    z-index: 9 !important;
}

hr {
    color: #fff;
}

@media only screen and (min-width: 901px) {
    .container {
        width: 90%;
        max-width: 1024px;
    }

    .container.full-size {
        max-width: none;
    }

    .materialize-textarea {
        padding: 0 !important;
    }
}