.middle-box {
    margin-top: 30%;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 3px;
}

input.error {
    border-color: #fe6868;
}

p.error {
    color: #fe6868;
}