<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Patua+One" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/overrides.css')}}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.9/jquery.mask.js"></script>

        <script src="{{url_for('static', filename='js/webtools.js')}}"></script>
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
    </head>

    <body>
        <div id="loading-overlay">
            <div id="loading-message">
                <div class="valign-wrapper">
                    <div class="valign-wrapper">
                        <span>Executando&nbsp;&nbsp;</span><img src="{{url_for('static', filename='images/ellipsis.gif')}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="main" class="navbar-fixed">
                <!-- TOP BAR -->
                {% raw %}
                <nav class="blue lighten-2 z-depth-2">
                    <div class="nav-wrapper">
                        <a href="/admin" class="brand-logo">PUBLER</a>
                        <ul id="nav-mobile" class="right hide-on-small">
                            <li><a href="#regions" class="modal-trigger waves-effect waves-light btn blue" v-on:click="routesList.length === 0 ? listRoutes() : nope()"><i class="material-icons">navigation</i></a></li>
                            <li><a href="#users" class="modal-trigger waves-effect waves-light btn blue" v-on:click="usersList.length === 0 ? listUsers() : nope()"><i class="material-icons">people</i></a></li>
                            <li><a href="#report" class="modal-trigger waves-effect waves-light btn blue" v-on:click="creditList.length === 0 ? listCredits() : nope()"><i class="material-icons">assessment</i></a></li>
                            <li>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" v-model="enablePassenger">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% endraw %}
                <!-- END TOP BAR-->

                <div id="signup" class="modal">
                    <div class="modal-content">
                        <span class="card-title grey-text">Adicionar Motorista</span><hr/>
                        <form>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="email" type="email" class="validate" v-model="email">
                                    <label for="email" data-error="Email inválido!">Email</label>
                                </div>
                                <div class="input-field col m3 s12">
                                    <input id="password" type="password" class="validate" v-model="password">
                                    <label for="password">Senha</label>
                                </div>
                                <div class="input-field col m3 s12">
                                    <input id="confirm-password" type="password" class="validate" v-model="confirm">
                                    <label for="password">Confirmar Senha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="passphrase" type="password" class="validate" v-model="passphrase">
                                    <label for="passphrase" data-error="Email inválido!">Senha do Administrador</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="waves-effect blue waves-light btn" v-on:click="signup"><i class="material-icons right">send</i>Criar</a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>

                <div id="credit" class="modal">
                    <div class="modal-content">
                        <span class="card-title grey-text">Adicionar Créditos</span><hr/>
                        <form>
                            <div class="row">
                                <div class="input-field col m8 s12">
                                    <input id="email" type="email" class="validate" v-model="email">
                                    <label for="email" data-error="Email inválido!">Email</label>
                                </div>
                                <div class="input-field col m4 s12">
                                    <i class="material-icons prefix">monetization_on</i>
                                    <input type="text" class="icon-left-input validate" name="amount" id="amount" v-model="amount" />
                                    <label class="label-icon" for="amount"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box" v-model="bonusCredit" />
                                    <label for="filled-in-box">Crédito de Bônus</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="passphrase" type="password" class="validate" v-model="passphrase">
                                    <label for="passphrase" data-error="Email inválido!">Senha do Administrador</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="waves-effect blue waves-light btn" v-on:click="addCredit"><i class="material-icons right">send</i>Adicionar</a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>

                {% raw %}
                <div id="users" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <span class="card-title grey-text">Motoristas Cadastrados</span><hr/>
                        <div class="row borderless">
                            <div class="input-field col s12 m6 offset-m3 borderless">
                                <input type="text" class="search z-depth-1 validate" v-model="search" placeholder="filtrar usuários..."/>
                            </div>
                        </div>
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>Email</td>
                                    <td>Nome</td>
                                    <td>Créditos</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users">
                                    <td>{{user.email}} ({{user.profile.car_model}} / {{user.profile.car_tag}})</td>
                                    <td>{{user.profile.name}}</td>
                                    <td>{{user.profile.credits}}</td>
                                    <td><a href="#audit" v-on:click="listCredits(user)" class="modal-trigger waves-effect green waves-light btn"><i class="material-icons">assessment</i></a></td>
                                    <td><a href="#credit" v-on:click="email = user.email" class="modal-trigger waves-effect grey waves-light btn"><i class="material-icons">attach_money</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" v-on:click="listUsers" class="modal-action waves-effect red waves-light btn"><i class="material-icons">replay</i></a>
                        <a href="#signup" class="modal-action modal-trigger waves-effect blue waves-light btn" v-on:click="email = ''"><i class="material-icons">add</i></a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>
                {% endraw %}

                {% raw %}
                <div id="regions" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <span class="card-title grey-text">Rotas Disponíveis</span><hr/>
                        <div class="row borderless">
                            <div class="input-field col s12 m6 offset-m3 borderless">
                                <input type="text" class="search z-depth-1 validate" v-model="search" placeholder="filtrar rotas..."/>
                            </div>
                        </div>
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Código</td>
                                    <td>Origem</td>
                                    <td>Destino</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in routes">
                                    <td>{{item.name}}</td>
                                    <td>{{item.code}}</td>
                                    <td>{{item.start[0] + ", " + item.start[1]}}</td>
                                    <td>{{item.end[0] + ", " + item.end[1]}}</td>
                                    <td><a href="#route" v-on:click="route = item" class="modal-trigger waves-effect grey waves-light btn"><i class="material-icons">edit</i></a></td>
                                    <td><a href="#!" v-on:click="boundMap(item.start, item.end)" class="modal-trigger waves-effect green waves-light btn"><i class="material-icons">near_me</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" v-on:click="listRoutes" class="modal-action waves-effect red waves-light btn"><i class="material-icons">replay</i></a>
                        <a href="#route" v-on:click="route = {}" class="modal-action modal-trigger waves-effect blue waves-light btn"><i class="material-icons">add</i></a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>
                {% endraw %}

                {% raw %}
                <div id="route" class="modal">
                    <div class="modal-content">
                        <span class="card-title grey-text">{{route.id ? 'Editar' : 'Adicionar'}} Rota</span><hr/>
                        <form>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="region-name" type="text" class="validate" v-model="route.name">
                                    <label for="region-name" data-error="Email inválido!">Nome da Rota</label>
                                </div>
                                <div class="input-field col m3 s12">
                                    <input id="region-code" type="text" class="validate" v-model="route.code" :disabled="route.code">
                                    <label for="region-code">Código da Rota</label>
                                </div>
                                <div class="input-field col m3 s12">
                                    <input id="region-limit" type="text" class="validate" v-model="route.limit">
                                    <label for="region-limit">Limite de Veículos</label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <input id="region-start" type="text" class="validate" v-model="route.start">
                                    <label for="region-start">Origem da Roda</label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <input id="region-end" type="text" class="validate" v-model="route.end">
                                    <label for="region-end">Destino da Roda</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="passphrase" type="password" class="validate" v-model="passphrase">
                                    <label for="passphrase" data-error="Email inválido!">Senha do Administrador</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="waves-effect blue waves-light btn" v-on:click="updateRoute"><i class="material-icons right">send</i>{{route.id ? "Atualizar" : "Criar"}}</a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>
                {% endraw %}

                {% raw %}
                <div id="report" class="modal bottom-sheet tall modal-fixed-footer">
                    <div class="modal-content">
                        <div class="card-title grey-text">
                            Créditos (Relatório Mensal)
                            <div class="datepicker">
                                <input type="tel" v-model="month">
                                <input type="tel" v-model="year">
                            </div>
                        </div><hr/>
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Email</td>
                                    <td>Créditos</td>
                                    <td>Bônus</td>
                                    <td>Total</td>
                                    <td># Créditos</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in creditList">
                                    <td>{{item.user.profile.name}} ({{item.user.profile.car_model}} / {{item.user.profile.car_tag}})</td>
                                    <td>{{item.user.email}}</td>
                                    <td>{{item.credits}}</td>
                                    <td>{{item.bonus}}</td>
                                    <td>{{item.credits + item.bonus}}</td>
                                    <td>{{item.count}}</td>
                                    <td><a href="#audit" v-on:click="listCredits(item.user)" class="modal-trigger waves-effect green waves-light btn"><i class="material-icons">assessment</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" v-on:click="listCredits()" class="modal-action waves-effect red waves-light btn"><i class="material-icons">replay</i></a>
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>
                {% endraw %}

                {% raw %}
                <div id="audit" class="modal bottom-sheet tall modal-fixed-footer">
                    <div class="modal-content">
                        <span class="card-title grey-text">Créditos (Relatório Mensal)</span><hr/>
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Créditos</td>
                                    <td>Bônus?</td>
                                    <td>Data</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in audit.credits">
                                    <td>{{audit.user.profile.name}} ({{audit.user.profile.car_model}} / {{audit.user.profile.car_tag}})</td>
                                    <td>{{item.credits}}</td>
                                    <td>{{item.bonus ? "Sim" : ""}}</td>
                                    <td>{{format(new Date(item.date))}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect grey waves-light btn"><i class="material-icons">close</i></a>
                    </div>
                </div>
                {% endraw %}
            </div>
        </div>

        <div class="v-space"></div>
        <div id="map"></div>

    </body>

    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script>
        function initMap() {
            $(document).trigger('map-loaded'); 
        }

        $('.modal').modal({
            ready: function() {
                Materialize.updateTextFields();
            }
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-h5iCAtIR-3MGdxfUOk4YxQ7p2SetBUw&callback=initMap"
    async defer></script>
</html>