{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="columns small-12 medium-6 medium-offset-3 large-4 large-offset-4">
            <div id=sendLinkBlock class="middle-box">
                <h2>Lembrar Senha</h2>
                <hr/>
                <p class="error hide"><i class="fa fa-exclamation-circle"></i> <span class="errorContent"></span></p>
                <form>
                    <div class="row">
                        <div class="columns">
                            <label>Seu email
                                <input type="email" id=userEmail placeholder="Informe o email cadastrado...">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <button id=sendBtn class="button expanded"><i class="fa fa-paper-plane"></i> Enviar link</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id=sendLinkMessage class="middle-box hide">
                <h2>Lembrar Senha</h2>
                <hr/>
                <h5>Um link foi enviado para o email informado.</h5>
            </div>

            <div id="updatePasswordBlock" class="middle-box hide">
                <h2>Nova Senha</h2>
                <hr/>
                <p class="error hide"><i class="fa fa-exclamation-circle"></i> <span class="errorContent"></span></p>
                <form>
                    <div class="row">
                        <div class="columns">
                            <label>Nova senha
                                <input type="password" id=password placeholder="Informe sua nova senha...">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label>Confirmação
                                <input type="password" id=confirmPassword placeholder="Confirme sua nova senha...">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <button id=updateBtn class="button expanded"><i class="fa fa-check"></i> Trocar senha</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id=updatePasswordMessage class="middle-box hide">
                <h2>Nova Senha</h2>
                <hr/>
                <h5>Sua senha foi alterada com sucesso!</h5>
            </div>
        </div>
    </div>

    <script src="/static/js/remember.js"></script>
{% endblock %}